# Python dependencies for building the MkDocs site
mkdocs>=1.6.0
mkdocs-material>=9.5.0
mkdocs-mermaid2-plugin>=1.1.0
pymdown-extensions>=10.0
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-awesome-pages-plugin
mkdocs-print-site-plugin
